@model InventoryManagementSystem.Models.PurchaseOrderHeader


<div class="card">
   <div class="card-header bg-success text-upercase text-white text-center" style="height:40px;">
       <h6>Purchase Order Details </h6>
   </div>
   <hr />

   <form  id="RebindvalidatorsForm">
       <div class="row col-12">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-2">
                <label asp-for="PoNumber" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="PoNumber" class="form-control" readonly />               
            </div>

             <div class="form-group col-2">
             </div>

             <div class="form-group col-2">
                <label asp-for="PoDate" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="PoDate" class="form-control" readonly />
            </div>

       @*-------------------------------------------------------------------*@


            <div class="form-group col-2">
                <label asp-for="SupplierId" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierList" readonly></select>
            </div>


            <div class="form-group col-2">
            </div>       

            <div class="form-group col-2">
                <label asp-for="BaseCurrencyId" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <select asp-for="BaseCurrencyId" class ="form-control" asp-items="ViewBag.BaseCurrencyList" readonly></select>
            </div>

            @*-------------------------------------------------------------------*@

            <div class="form-group col-2">
                <label asp-for="PoCurrencyId" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <select asp-for="PoCurrencyId" class ="form-control" asp-items="ViewBag.PoCurrencyList" readonly></select>
            </div>

            <div class="form-group col-2">
            </div>  
            
            <div class="form-group col-2">
                <label asp-for="ExchangeRate" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="ExchangeRate" class="form-control" readonly/>
            </div>

              @*-------------------------------------------------------------------*@
                             
               <div class="form-group col-2">
                <label asp-for="QuotationNo" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="QuotationNo" class="form-control" readonly />
                
            </div>

             <div class="form-group col-2">
            </div>  

              <div class="form-group col-2">
                <label asp-for="QuotationDate" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="QuotationDate" class="form-control" readonly />
            </div>


                @*-------------------------------------------------------------------*@
                  

               <div class="form-group col-2">
                <label asp-for="PaymentTerms" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="PaymentTerms" class="form-control" readonly />               
            </div>

            
             <div class="form-group col-2">
            </div>  

              <div class="form-group col-2">
                <label asp-for="Remarks" class="control-label"></label>
            </div>

            <div class="form-group col-3">
                <input asp-for="Remarks" class="form-control" readonly />
            </div>

   
                @*-------------------------------------------------------------------*@





                <div class="col-12 ml-5">
					<table id="PurchaseOrderDetailTable" class="table table-borderless table-sm mb-0 pb-0">
						<thead>
							<tr>
								<th>
									Product 
								</th>								
								<th>
									Quantity
								</th>
                                <th>
								    FOB
								</th>
                                <th>
								    Price 
								</th>                                
                                <th>
									Unit
								</th>							
                                  <th style="width:60px;">
                                   </th>
							</tr>
						</thead>

                  <tbody>                                
                        @for (int i = 0; i < Model.PurchaseOrderDetails.Count; i++)
                      
                        {                         
                                <tr>
									<td>                                   
                                        <select asp-for="@Model.PurchaseOrderDetails[i].ProductCode" class="form-control"
												asp-items="ViewBag.ProductList" readonly></select>                                        
									</td>								
									<td>
										<input asp-for="@Model.PurchaseOrderDetails[i].Quantity" class="form-control" readonly />
									</td>
								    <td>
										<input asp-for="@Model.PurchaseOrderDetails[i].Fob" class="form-control" readonly />									
									</td>
                                    <td>
										<input asp-for="@Model.PurchaseOrderDetails[i].PriceInBaseCurrency" class="form-control" readonly />
									</td>
                                    <td>
										<input asp-for="@Model.PurchaseOrderDetails[i].UnitName" class="form-control" readonly />										
									</td>
                                     <td style="width:60px;">                                         
                                      </td>
                                </tr>                                 
                        }
                    </tbody>
                   

					</table>                      
                    

				</div>



            <div class="form-group btn-group col-12">
                <div class="col-1"></div>
                <div class="col-5">
                  <a class="btn btn-secondary btn-block" asp-action="edit"
                   asp-route-pg="@TempData.Peek("CurrentPage")">Edit</a>
                </div>
                <div class="col-5">
                <a class="btn btn-secondary btn-block" asp-action="index"
                   asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
                </div>
                 <div class="col-1"></div>
            </div>

       
   </div>
</form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

